@model WisdomTradeApp.Models.Position

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticker" class="control-label">
                    Ticker
                    <a target="_blank" href="https://www.nasdaq.com/market-activity/stocks/screener?exchange=nasdaq&letter=0&render=download"> (possible tickers)</a>
                </label>
                <input id="TickerInput" asp-for="Ticker" class="form-control" />
                @*html.dropdownlistfor()*@
                <span asp-validation-for="Ticker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePrediction" class="control-label"></label>
                <input asp-for="PricePrediction" class="form-control" />
                <span asp-validation-for="PricePrediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @* call other partial view *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @* Jquery code inside this section or it wont work, js works on a normal script outside this section *@
    <script>
        //Document ready
        $(function () {                   
            
        })
    </script>
}